
#whac-a-mole {
    aspect-ratio: 1 / 1;
    width: 100%;
    position: relative;
}

#cabinet {
    display: flex;
    flex-direction: column;
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    border: 8px solid black;
    margin: 12px 0px;
}

.cabinet-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 500%;
    width: 25%;
    height: 100%;
    border: 1px solid black;
    margin: 0px 0.125px;
}

.cabinet-row {
    display: flex;
    height: 25%;
    width: 100%;
    margin: 0.125px 0px;
}

#score {
    margin: 12px 0px;
}

#difficulty-selection {
    margin-bottom: 12px;
}